p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  cursor: default;
}
a {
  text-decoration: none;
  color: #e32526;
}
*:focus {
  outline: none;
}
body {
  overflow: hidden;
  margin: 0;
  font-family: "fira-sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  background: black;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
#canvas {
  height: 100%;
  z-index: 1;
  width: 100%;
}
#canvas canvas {
  width: 100%;
  height: 100%;
}
#controls {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 124px;
  height: 85px;
  z-index: 2;
}
#controls img {
  position: absolute;
}
#controls #mapctrl-left {
  top: 0;
  left: 0;
}
#controls #mapctrl-up {
  top: 0;
  left: 24px;
}
#controls #mapctrl-right {
  top: 0;
  left: 60px;
}
#controls #mapctrl-down {
  bottom: 0;
  left: 24px;
}
#controls #mapctrl-tilt {
  left: 24px;
  top: 24px;
}
#controls #mapctrl-zoomin {
  right: 0;
  top: 0;
}
#controls #mapctrl-zoomout {
  right: 0;
  bottom: 0;
}
header {
  top: 0;
  width: 100%;
  height: 73px;
  z-index: 300;
  background: black;
  position: relative;
}
header #menu {
  float: left;
  margin: 13px 21px 0 15px;
}
header #menu * {
  cursor: pointer;
}
header #menu a {
  color: #b1b1b1;
  text-decoration: none;
}
header #menu a:hover {
  color: #e32526;
}
header #menu .active {
  color: #e32526;
}
header #logo {
  float: right;
  height: 58px;
  padding: 8px;
}
@media (max-width: 480px) {
  header #logo {
    padding: 14px 8px 8px 8px;
    height: 44px;
  }
}
header form {
  z-index: 1;
  float: left;
  margin: 0;
  width: 60%;
  font-weight: 700;
}
@media (max-width: 900px) {
  header form {
    display: none;
  }
}
header form input {
  font-weight: 700;
  letter-spacing: -2.5px;
  height: 73px;
  width: 65%;
  max-width: 1050px;
  border: none;
  padding-left: 56px;
  font-size: 40px;
  outline: none;
  position: absolute;
  background-color: transparent;
  z-index: 1;
}
header form input#searchTerm {
  background: url('../img/search.png') no-repeat left 10px center;
  color: #b1b1b1;
}
header form input#cachedTerm {
  margin-left: 56px;
  padding-left: 0px;
  z-index: 0;
  color: #333333;
}
header form #searchCancel {
  opacity: 0;
  right: 40%;
  top: 19px;
  position: absolute;
  z-index: 3;
  cursor: pointer;
}
#header-border {
  width: 100%;
  height: 1px;
  background: #e32526;
  position: relative;
}
.menu-item {
  width: 380px;
  position: absolute;
  background: #000000;
  left: 30px;
  z-index: 250;
  top: -1000px;
  color: #e32526;
  border: 1px solid;
  border-top: 1px solid black;
}
@media (max-width: 440px) {
  .menu-item {
    width: 100% !important;
    left: 0;
  }
}
.menu-item h4 {
  text-decoration: underline;
}
.menu-item p,
.menu-item a {
  color: #b1b1b1;
}
.menu-item > div {
  padding: 20px;
}
.menu-item #map-canvas {
  margin: 0 25px 0 25px;
  height: 200px;
  display: block;
}
.menu-item .menu-item-header {
  height: 100px;
  padding: 10px 20px 33px 20px;
}
.menu-item .menu-item-header h4,
.menu-item .menu-item-header p {
  margin-top: 3px;
}
.menu-item .menu-item-header h4 {
  margin-bottom: 6px;
}
.menu-item .menu-item-header > div {
  margin-top: 10px;
}
.menu-item .menu-item-footer {
  cursor: pointer;
}
.menu-item .menu-item-footer div {
  width: 100%;
  border-bottom: 1px solid;
  border-bottom-color: #e32526;
  height: 23px;
}
.menu-item .menu-item-footer img {
  width: 25px;
  margin: 0 auto;
  display: block;
}
.menu-item.contact .menu-item-header div {
  width: 50%;
}
.menu-item.contact .menu-item-header div:first-child {
  float: left;
}
.menu-item.contact .menu-item-header div:nth-child(2),
.menu-item.contact .menu-item-header div:last-child {
  float: right;
}
.menu-item.careers .menu-item-body h2 {
  line-height: 22px;
  margin-bottom: 13px;
}
.menu-item.culture {
  width: 760px;
}
@media (max-width: 760px) {
  .menu-item.culture {
    width: 100%;
    left: 0;
  }
}
#loading {
  background-color: #000000;
  height: 100%;
  z-index: 200;
  position: relative;
}
#loading #dinosaur a {
  text-decoration: underline;
}
@media (max-width: 450px) {
  #loading #dinosaur {
    width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.loading-logo {
  background: url("../img/rl_wordmark_transparent.png") no-repeat center center fixed;
}
#blackout {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 310;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 50px;
}
.close {
  display: block;
  background: url('../img/close-btn.png') no-repeat center center;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  outline: none;
  z-index: 310;
  text-decoration: none;
  cursor: pointer;
}
.social-btns {
  position: absolute;
  top: 80px;
  right: 23px;
  width: 25px;
  height: 90px;
}
.social-btns img {
  margin-top: 5px;
  cursor: hand;
  cursor: pointer;
}
#overlay {
  margin: 20px auto;
  padding-bottom: 20px;
}
@media (min-width: 900px) {
  #overlay {
    width: 900px;
  }
}
@media (max-width: 900px) {
  #overlay {
    width: 100%;
  }
}
#overlay #work-overlay {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: white;
}
#overlay #work-overlay header {
  background: #e0280a;
  color: white;
  min-height: 200px;
  position: relative;
}
#overlay #work-overlay header h2 {
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  top: 30px;
  left: 20px;
  position: absolute;
}
@media (max-width: 900px) {
  #overlay #work-overlay header h2 {
    font-size: 20px;
  }
}
#overlay #work-overlay header h1 {
  position: absolute;
  bottom: 30px;
  left: 20px;
  width: 50%;
  font-size: 50px;
  line-height: 55px;
}
@media (max-width: 900px) {
  #overlay #work-overlay header h1 {
    font-size: 30px;
    line-height: 33px;
  }
}
#overlay #work-overlay #description p {
  width: 620px;
  margin: 40px 20px 40px 40px;
  float: left;
}
@media (max-width: 900px) {
  #overlay #work-overlay #description p {
    width: auto;
    margin: 5%;
  }
}
#overlay #work-overlay #description .datecat {
  font-weight: 700;
  width: 180px;
  margin: 40px 0 0 0;
  float: right;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  #overlay #work-overlay #description .datecat {
    display: none;
  }
}
#overlay #work-overlay .clear {
  height: 1px;
  clear: both;
  font-size: 1px;
}
#overlay #work-overlay .videobox {
  background: black;
  padding: 40px 0 56.25%;
  position: relative;
  height: 0;
  overflow: hidden;
}
#overlay #work-overlay .videobox iframe {
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
#overlay #work-overlay .otherbox {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 4px solid #eee;
}
#overlay #work-overlay .print-item,
#overlay #work-overlay .digital-item {
  text-align: center;
}
#overlay #work-overlay .print-item img,
#overlay #work-overlay .digital-item img {
  margin: 0 auto;
  max-width: 95%;
}
#overlay #news-overlay {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: white;
}
#overlay #news-overlay header {
  background: #e0280a;
  color: white;
  min-height: 200px;
  position: relative;
}
#overlay #news-overlay header h2 {
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  top: 30px;
  left: 20px;
  position: absolute;
}
@media (max-width: 900px) {
  #overlay #news-overlay header h2 {
    font-size: 20px;
  }
}
#overlay #news-overlay header h1 {
  position: absolute;
  bottom: 30px;
  left: 20px;
  width: 50%;
  font-size: 50px;
  line-height: 55px;
}
@media (max-width: 900px) {
  #overlay #news-overlay header h1 {
    font-size: 30px;
    line-height: 33px;
    width: 100%;
  }
}
#overlay #news-overlay #description p {
  width: 620px;
  margin: 40px 20px 40px 40px;
  float: left;
}
@media (max-width: 900px) {
  #overlay #news-overlay #description p {
    width: auto;
    margin: 5%;
  }
}
#overlay #news-overlay #description .datecat {
  font-weight: 700;
  width: 180px;
  margin: 40px 0 0 0;
  float: right;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  #overlay #news-overlay #description .datecat {
    display: none;
  }
}
#overlay #news-overlay .clear {
  height: 1px;
  clear: both;
  font-size: 1px;
}
#overlay #news-overlay .videobox {
  background: black;
  padding: 40px 0;
}
#overlay #news-overlay .videobox iframe {
  margin: 0 auto;
  display: block;
}
#overlay #news-overlay .otherbox {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 4px solid #eee;
}
#overlay #discipline-overlay {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  color: white;
  background: #e0280a;
}
#overlay #discipline-overlay header {
  background: #e0280a;
  position: relative;
  height: 75px;
}
#overlay #discipline-overlay header h2 {
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  top: 30px;
  left: 20px;
  position: absolute;
}
@media (max-width: 900px) {
  #overlay #discipline-overlay header h2 {
    font-size: 20px;
  }
}
#overlay #discipline-overlay .dcontainer {
  margin: 10px 0;
}
#overlay #discipline-overlay .dcontainer h1 {
  font-size: 65px;
  line-height: 70px;
  color: #8f0202;
  margin-left: 35px;
  cursor: pointer;
  cursor: hand;
}
@media (max-width: 900px) {
  #overlay #discipline-overlay .dcontainer h1 {
    font-size: 20px;
    line-height: 25px;
    margin-left: 20px;
  }
}
#overlay #discipline-overlay .dcontainer h1.selected {
  color: white;
}
#overlay #discipline-overlay .dcontainer p {
  font-size: 22px;
  line-height: 30px;
  margin: 10px 100px;
}
@media (max-width: 900px) {
  #overlay #discipline-overlay .dcontainer p {
    font-size: 14px;
    line-height: 19px;
    margin: 10px 20px;
  }
}
.player {
  max-height: 200px;
  background: url('../img/radio-tower.png') no-repeat left 5% center;
  position: relative;
}
@media (max-width: 700px) {
  .player {
    background: url('../img/radio-tower.png') no-repeat left -5% center;
  }
}
.player .controlbox {
  border: rgba(175, 182, 185, 0.5) solid 1px;
  width: 55%;
  height: 16px;
  position: absolute;
  background: white;
  right: 10%;
  bottom: 25px;
  border-radius: 8px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  padding: 24px 20px 24px 28px;
}
.player .controlbox img {
  opacity: 0.5;
  cursor: pointer;
  cursor: hand;
}
.player .controlbox img:hover {
  opacity: 1;
}
.player .controlbox .meter {
  height: 5px;
  position: absolute;
  top: 50%;
  left: 20%;
  background: #e6e5e5;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  width: 62%;
  display: inline-block;
}
@media (max-width: 920px) {
  .player .controlbox .meter {
    top: 50%;
    left: 25%;
    width: 50%;
  }
}
@media (max-width: 700px) {
  .player .controlbox .meter {
    display: none;
  }
}
.player .controlbox .meter  > span {
  display: block;
  height: 100%;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  background: #afb6b9;
}
.player .controlbox .time-readout {
  float: right;
  color: #afb6b9;
  padding-top: 2px;
}
