body {
  overflow: hidden;
  margin: 0;
  font-family: "fira-sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  background: #fffdf2;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
#canvas {
  height: 100%;
  z-index: 1;
  width: 100%;
}
#canvas canvas {
  width: 100%;
  height: 100%;
}
header {
  top: 0;
  width: 100%;
  height: 73px;
  z-index: 100;
  background: #fffdf2;
}
header #logo {
  float: right;
  height: 58px;
  padding: 8px;
}
header #launchAbout {
  float: left;
  color: #e32526;
  text-decoration: none;
  display: block;
  margin: 14px 20px;
  line-height: 15px;
}
header form {
  z-index: 1;
  float: left;
  margin: 0;
  width: 60%;
}
header form input {
  height: 73px;
  width: 65%;
  max-width: 1050px;
  border: none;
  padding-left: 65px;
  font-size: 40px;
  outline: none;
  position: absolute;
  background-color: transparent;
  z-index: 1;
}
header form input#searchTerm {
  background: url('../img/search.png') no-repeat left 10px center;
}
header form input#cachedTerm {
  margin-left: 65px;
  padding-left: 0px;
  z-index: 0;
  color: d4d4d4;
}
header form #searchCancel {
  opacity: 0;
  right: 40%;
  top: 19px;
  position: absolute;
  z-index: 3;
  cursor: pointer;
}
#loading {
  background-color: #fffdf2;
  height: 100%;
}
.loading-logo {
  background: url("../img/rl_wordmark_transparent.png") no-repeat center center fixed;
}
#blackout {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 105;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 50px;
}
.close {
  display: block;
  background: url('../img/close-btn.png') no-repeat center center;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 30px;
  right: 20px;
  border: none;
  outline: none;
  z-index: 110;
  text-decoration: none;
  cursor: pointer;
}
#overlay {
  background: #fffdf2;
  min-height: 110%;
  margin: 20px auto;
  padding-bottom: 70px;
}
@media (min-width: 920px) {
  #overlay {
    width: 900px;
  }
}
@media (max-width: 920px) {
  #overlay {
    width: 80%;
  }
}
#overlay #work-overlay {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}
#overlay #work-overlay header {
  background: #e0280a;
  color: white;
  min-height: 200px;
  padding: 30px 20px;
  position: relative;
  width: 860px;
}
#overlay #work-overlay header h2 {
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
#overlay #work-overlay header h1 {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 50%;
  font-size: 50px;
  line-height: 55px;
}
#overlay #work-overlay header .social-btns {
  position: absolute;
  bottom: 30px;
  right: 20px;
}
#overlay #work-overlay header .social-btns img {
  margin-left: 4px;
}
#overlay #work-overlay #description p {
  width: 620px;
  margin: 40px 20px 40px 40px;
  float: left;
}
#overlay #work-overlay #description .datecat {
  font-weight: 700;
  width: 180px;
  margin: 40px 0 0 0;
  float: right;
  text-transform: uppercase;
}
#overlay #work-overlay .clear {
  height: 1px;
  clear: both;
  font-size: 1px;
}
#overlay #work-overlay .videobox {
  background: black;
  padding: 40px 0;
}
#overlay #work-overlay .videobox iframe {
  margin: 0 auto;
  display: block;
}
#overlay #work-overlay .otherbox {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 4px solid #eee;
}
#overlay #work-overlay .print-item,
#overlay #work-overlay .digital-item {
  text-align: center;
}
#overlay #work-overlay .print-item img,
#overlay #work-overlay .digital-item img {
  margin: 0 auto;
}
#overlay #people-overlay {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}
#overlay #people-overlay header {
  color: white;
  height: 434px;
  position: relative;
}
#overlay #people-overlay header h2 {
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 30px;
  left: 20px;
  z-index: 110;
}
#overlay #people-overlay header #bio {
  position: absolute;
  left: 20px;
  top: 55%;
  transform: translateY(-50%);
  z-index: 110;
  width: 330px;
}
#overlay #people-overlay header #bio h1 {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;
}
#overlay #people-overlay header #bio p.subtitle {
  font-weight: 700;
  margin: 0 0 20px;
}
#overlay #people-overlay header #bio p.description {
  font-weight: 500;
}
#overlay #people-overlay header .close {
  display: block;
  background: url('../img/close-btn.png') no-repeat center center;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 30px;
  right: 20px;
  float: right;
  border: none;
  outline: none;
  z-index: 110;
  text-decoration: none;
}
#overlay #people-overlay header img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 108;
}
#overlay #people-overlay ul#people-list {
  border-top: 30px solid #f8220d;
  list-style: none;
  margin: 0;
  padding: 0;
}
#overlay #people-overlay ul#people-list li {
  width: 225px;
  height: 262px;
  position: relative;
  list-style: none;
  display: inline-block;
  text-indent: 0;
}
#overlay #people-overlay ul#people-list li a {
  display: block;
  position: absolute;
  z-index: 111;
  width: 225px;
  height: 262px;
  text-decoration: none;
  color: #f8220d;
}
#overlay #people-overlay ul#people-list li img.cover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  clip: rect(0px, 225px, 263px, 0px);
  transition: all 0.7s ease-in-out;
}
#overlay #people-overlay ul#people-list li img.cover.hovered {
  clip: rect(0px, 0px, 262px, 0px);
  opacity: 0.5;
}
#overlay #people-overlay ul#people-list li img.under {
  position: absolute;
  top: 0;
  left: 0;
}
