@background: #fffdf2;
@grey: #C9C8BF;
@lightgrey: #e0280a;
@lionred: #e32526;

body {
	overflow: hidden; 
	margin: 0; 
	font-family: "fira-sans",sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
	background: @background;
	
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
#canvas {
	height: 100%;
	z-index: 1;
	width: 100%;
	
	canvas { 
		width: 100%; 
		height: 100%;
	}
}
header { 
	top: 0; 
	width: 100%; 
	height: 73px; 
	z-index: 100; 
	background: @background;
	
	#logo { 
		float: right; 
	}
	#launchAbout {
		float: left;
		color: @lionred;
		text-decoration: none;
		display: block;
		margin: 14px 20px;
		line-height: 15px;
	}
	form {
		z-index: 1;
		float: left;
		margin: 0;
		width: 60%;
		input {
			height: 73px;
			width: 65%;
			max-width: 1050px;
			border: none;
			padding-left: 65px;
			font-size: 40px;
			outline: none;
			position: absolute;
			background-color: transparent;
			z-index: 1;
		}
		input#searchTerm {
			background: url('../img/search.png') no-repeat left 10px center;
		}
		input#cachedTerm {
			margin-left: 65px;
			padding-left: 0px;
			z-index: 0;
			color: d4d4d4;
		}
		#searchCancel {
			opacity: 0;
			right: 40%;
			top: 19px;
			position: absolute;
			z-index: 3;
			cursor: pointer;
		}
	}
}
#loading {
	background-color: @background;
	background: url("../img/rl_wordmark_transparent.png") no-repeat center center fixed;
	height: 100%;
}
#blackout {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 105;
	background: rgba(0,0,0,0.6);
	display: none;
	opacity: 0;
	overflow: scroll;
	padding-top: 50px;
}

.close {
	display: block;
	background: url('../img/close-btn.png') no-repeat center center;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 30px;
	right: 20px;
	border: none;
	outline: none;
	z-index: 110;
	text-decoration: none;
	cursor: pointer;
}

#overlay {
	background: @background;
	@media (min-width: 920px) {
		width: 900px;
	}
	@media (max-width: 920px) {
		width: 80%;	
	}
	min-height: 100%;
	margin: 20px auto;
	
	#work-overlay {
		margin: 0;
		padding: 0;
		width: 100%;
		min-height: 100%;
		
		header {
			background: #e0280a;
			color: white;
			min-height: 200px;
			padding: 30px 20px;
			position: relative;
			width: 860px;
			
			h2 {
				font-weight: 700;
				font-size: 25px;
				text-transform: uppercase;
				margin: 0;
				padding: 0;
			}
			
			h1 {
				position: absolute;
				bottom: 0;
				left: 20px;
				width: 50%;
				font-size: 50px;
				line-height: 55px;
			}
			
			.social-btns {
				position: absolute;
				bottom: 30px;
				right: 20px;
				
				img {
					margin-left: 4px;
				}
			}
		}
		
		#description {
			p {
				width: 620px;
				margin: 40px 20px 40px 40px;
				float: left;
			}
			.datecat {
				font-weight: 700;
				width: 180px;
				margin: 40px 0 0 0;
				float: right;
				text-transform: uppercase;
			}
		}
		
		.videobox {
			background: black;
			clear: both;
			padding: 40px 0;
			
			iframe {
				margin: 0 auto;
				display: block;
			}
		}
	}
	
	#people-overlay {
		margin: 0;
		padding: 0;
		width: 100%;
		min-height: 100%;
		
		header {
			color: white;
			height: 434px;
			position: relative;
			
			h2 {
				font-weight: 700;
				font-size: 25px;
				text-transform: uppercase;
				position: absolute;
				margin: 0;
				padding: 0;
				top: 30px;
				left: 20px;
				z-index: 110;
			}
			
			#bio {
				position: absolute;
				left: 20px;
				top: 55%;
				transform: translateY(-50%);
				z-index: 110;
				width: 330px;
				
				h1 {
					font-size: 25px;
					font-weight: 700;
					line-height: 30px;
					margin: 0;
					padding: 0;
				}
				
				p.subtitle {
					font-weight: 700;
					margin: 0 0 20px;
				}
				
				p.description {
					font-weight: 500;
				}
			}
			
			.close {
				display: block;
				background: url('../img/close-btn.png') no-repeat center center;
				width: 32px;
				height: 32px;
				position: absolute;
				top: 30px;
				right: 20px;
				float: right;
				border: none;
				outline: none;
				z-index: 110;
				text-decoration: none;
			}
			
			img {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 108;
			}
		}
		
		ul#people-list {
			border-top: 30px solid #f8220d;
			list-style: none;
			margin: 0;
			padding: 0;
			
			li {
				width: 225px;
				height: 262px;
				position: relative;
				list-style: none;
				display: inline-block;
				text-indent: 0;
				
				a {
					display: block;
					position: absolute;
					z-index: 111;
					width: 225px;
					height: 262px;
					text-decoration: none;
					color: #f8220d;
				}
				
				img.cover {
					position: absolute;
					top: 0;
					left: 0;
					opacity: 1;
					clip: rect(0px, 225px, 263px, 0px);
					transition: all 0.7s ease-in-out;
					
					&.hovered {
						clip: rect(0px, 0px, 262px, 0px);
						opacity: 0.5;
					}
				}
				
				img.under {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}
	
}