<div id="news-overlay">
	<header>
		<button class="close">&nbsp;</button>
		<h2>Red Lion News</h2>
	</header>
	
	<div class="overlay-content">
		<div ng-repeat="article in newsitems | orderBy:'-date_launched'" class="ncontainer {{article.slug}}">
			<div class="title" data-slug="{{news.slug}}">
				<h1><span>+</span> &nbsp;{{parseMyDate(article.date_launched) | date:'MM/dd/yyyy'}}</h1>
				<div class="cover">
					<span class="twitter"><img src="img/twitter.png" alt="Twitter"></span>
					<span class="facebook"><img src="img/facebook.png" alt="Facebook"></span>
					<span class="linkedin"><img src="img/linkedin.png" alt="LinkedIn"></span>
				</div>
				<h2>{{article.title}}</h2>
			</div>
			<div class="newscontent" style="display: none;">
				<div class="toppad">&nbsp;</div>
				<h2>{{article.title}}</h2>
				<h3>by {{article.subtitle}}</h3>
				<div ng-bind-html="outputHTML(article.description)"></div>
				<div class="keyline">&nbsp;</div>
			</div>
		</div>
	</div>
		
	<div class="clear">&nbsp;</div>	
</div>