<div id="news-overlay">
	<header>
		<button class="close">&nbsp;</button>
		<h2>News</h2>
		<h1>{{newsitem.title}}</h1>
		<div class="social-btns">
			<img src="img/twitter.png" alt="Twitter">
			<img src="img/gplus.png" alt="Google Plus">
			<img src="img/facebook.png" alt="Facebook">
			<img src="img/linkedin.png" alt="LinkedIn">
		</div>
	</header>
	
	<div id="description">
		<div ng-bind-html="outputHTML(newsitem.description)"></div>
		<div class="datecat">
			{{newsitem.date_launched | date:'MMMM d yyyy'}} <br>
		</div>
	</div>
	
	<div class="clear">&nbsp;</div>	
</div>