<div id="overlay">
<div id="people-overlay">
	<header ng-controller="PeopleCtrl">
		<h2>Bios</h2>
		<a class="close" href="#/grid">&nbsp;</a>
		<div id="bio">
			<h1>{{selperson.title}}</h1>
			<p class="subtitle">{{selperson.description}}</p>
			<p class="description">{{selperson.content}}</p>
		</div>
		<img src="{{selperson.header_img}}" />
	</header>
	<ul id="people-list">
		<li ng-repeat="person in people">
			<a href="#/people/{{person.slug}}" people-tile="{{person.slug}}"></a>
		</li>
	</ul>
</div>
</div>