<div id="work-overlay">
	<header>
		<button class="close">&nbsp;</button>
		<h2>{{work.title}}</h2>
		<h1>{{work.subtitle}}</h1>
		<div class="social-btns">
			<img src="img/twitter.png" alt="Twitter">
			<img src="img/gplus.png" alt="Google Plus">
			<img src="img/facebook.png" alt="Facebook">
			<img src="img/linkedin.png" alt="LinkedIn">
		</div>
	</header>
	
	<div id="description">
		<p>{{work.description}}</p>
		<div class="datecat">
			{{work.date_launched | date:'MMMM yyyy'}} <br>
			{{work.tags}}
		</div>
	</div>
	
	<div class="clear">&nbsp;</div>
	
	<div class="videobox" ng-repeat="video in work.video_comsep" ng-show="work.video_comsep[0] !== ''">
		<iframe ng-src="{{video}}" width="760" height="427" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	
	<div class="otherbox" ng-show="work.print_comsep[0] !== ''">
		<div class="printwork">
			<div ng-repeat="print in work.print_comsep" class="print-item">
				<img ng-src="{{print}}">
			</div>
		</div>
	</div>
	
	<div class="otherbox" ng-show="work.digital_comsep[0] !== ''">
		<div class="digitalwork">
			<div ng-repeat="digital in work.digital_comsep" class="digital-item">
				<img ng-src="{{digital}}">
			</div>
		</div>
	</div>
	
<!--
	<div class="otherbox">
		<div class="audiowork" ng-show="work.audio_comsep[0] !== ''">
			<div ng-repeat="print in work.audio_comsep" class="print-item">
				<img ng-src="{{print}}">
			</div>
		</div>
	</div>
-->
	
	<div class="clear">&nbsp;</div>
	
</div>