<div id="work-overlay">
	<header>
		<button class="close">&nbsp;</button>
		<h2>{{work.title}}</h2>
		<h1>{{work.subtitle}}</h1>
		<div class="social-btns">
			<span class="twitter"><img src="img/twitter.png" alt="Twitter"></span>
			<span class="facebook"><img src="img/facebook.png" alt="Facebook"></span>
			<span class="linkedin"><img src="img/linkedin.png" alt="LinkedIn"></span>
		</div>
	</header>
	
	<div id="description">
		<p ng-bind-html="outputHTML(work.description)"></p>
		<div class="datecat">
			{{work.date_launched | date:'MMMM yyyy'}} <br>
			{{work.all_tags}}
		</div>
	</div>
	
	<div class="clear">&nbsp;</div>
	
	<div class="overlay-content">
		<div class="videobox" ng-repeat="video in work.video_comsep" ng-show="work.video_comsep[0] !== ''">
			<iframe ng-src="{{video}}" ng-attr-id="{{'video' + $index}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen scrolling="no"></iframe>
			<div class="vidleft"><img src="img/transp.png"></div>
			<div class="vidright"><img src="img/transp.png"></div>
		</div>
		
		<div class="otherbox" ng-show="work.print_comsep[0] !== ''">
			<div class="printwork">
				<div ng-repeat="print in work.print_comsep" class="print-item">
					<img ng-src="{{print}}">
				</div>
			</div>
		</div>
		
		<div class="otherbox" ng-show="work.digital_comsep[0] !== ''">
			<div class="digitalwork">
				<div ng-repeat="digital in work.digital_comsep" class="digital-item">
					<img ng-src="{{digital}}">
				</div>
			</div>
		</div>
		
		<div class="otherbox" ng-show="work.audio_comsep[0] !== ''">
			<div class="audiowork">
				
				<div class="player">
					<img src="img/audio-spacer.gif">
					<div class="controlbox">
						<img src="img/rwd.gif" class="rwd-btn">
						<img src="img/play-btn.gif" class="play-pause-btn">
						<img src="img/ffwd-btn.gif" class="ffwd-btn">
						<div class="meter">
							<span style="width: 1%"></span>
						</div>
						<div class="time-readout">
							<span class="audioCurrent">0:00</span> / <span class="audioTotal">0:00</span>
						</div>
						<audio ng-src="{{work.audio_comsep[0]}}" id="audio_file"></audio>
					</div>
				</div>
				
				<div class="file-list">
					<a href="#" class="swap-audio" ng-repeat="audiofile in work.audio_comsep" data-audio="{{audiofile}}">Radio Spot {{$index + 1}}</a>
				</div>
			
			</div>
		</div>
	</div>
	
	<footer>
		<div class="social-btns-footer">
			<span class="twitter"><img src="img/twitter.png" alt="Twitter"></span>
			<span class="facebook"><img src="img/facebook.png" alt="Facebook"></span>
			<span class="linkedin"><img src="img/linkedin.png" alt="LinkedIn"></span>
		</div>
	</footer>
</div>